# Secret Key
    SECRET_KEY=yourSecretKey

# If using local mongodb MongoDB (assume no authentication set up for your local mongodb)
MONGO_DB= your database name(on local now)
MONGO_HOST=your localhost
MONGO_PORT= your port for MongoDB (default: 27017)
#If using Atlas
MONGO_URI=mongodb+srv://your_username:your_password@cluster0.m3eme.mongodb.net/project2?retryWrites=true&w=majority&appName=Cluster0